<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="<%= movies.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= movies.title %> - <%= movies.rating %>
                    </h5>
                    <p class="card-text">
                        <%= movies.description %>
                    </p>
                    <h7 class="text-muted">
                        Submitted by <%= movies.author.username %>
                    </h7>
                </div>
                <!-- Show delete button if current user is movie's author -->
                <% if(currentUser && movies.author.equals(currentUser.id)) {%>
                    <div class="card-body">
                        <a href="/movie/<%= movies.id %>/edit" class="card-link btn btn-primary">Edit</a>
                        <form action="/movie/<%= movies.id %>?_method=DELETE" method="POST" class="d-inline"><button
                                class="btn btn-danger">Delete</button></form>
                    </div>
                    <% } %>
            </div>
            <form action="/movie/<%= movies.id %>/reviews" method="POST">
                <h2>Leave a review</h2>
                <div class="mb-3">
                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="4"></textarea>
                </div>
                <!-- Display submit button for review if user is logged in -->
                <% if(currentUser) {%>
                    <button class="btn btn-success mb-3">Submit</button>
                    <% } %>
            </form>
            <div>
                <% for(let review of movies.reviews){ %>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h6>
                                <%= review.author.username %>
                            </h6>
                            <h5 class="starability-result" data-rating="<%= review.rating %>">
                                Rated: <%= review.rating %> stars
                            </h5>
                            <p class="card-text">
                                Review: <%= review.body %>
                            </p>
                            <form action="/movie/<%= movies.id %>/reviews/<%= review.id %>?_method=DELETE"
                                method="POST">
                                <% if(currentUser) {%>
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                    <% } %>
                            </form>

                        </div>
                    </div>
                    <% } %>
            </div>